# Default ignored files
/../../../:Amethist/.idea/shelf/
/../../../:Amethist/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../:Amethist/.idea/httpRequests/
# Datasource local storage ignored files
/../../../:Amethist/.idea/dataSources/
/../../../:Amethist/.idea/dataSources.local.xml
